<md-card>
  <md-card-title>Dashboard</md-card-title>
  <md-card-content class="flex-container"
                   fxLayoutWrap="wrap"
                   fxLayout="row"
                   fxLayoutAlign="center"
                   fxLayoutAlign.xs="start">

    <md-card *ngFor="let tile of tiles" class="flex-item tile-card" (click)="navigate(tile)">
      <md-card-header>
        <md-card-title>{{tile.name}}</md-card-title>
        <md-card-subtitle>{{tile.description}}</md-card-subtitle>
      </md-card-header>
      <md-card-content></md-card-content>
    </md-card>
  </md-card-content>
</md-card>
